{
    "plugins": [
        "prettier-plugin-jinja-template",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindStylesheet": "./src/app.css",
    "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}