<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMS</title>
    <link rel="stylesheet" href="/assets/css/pico.min.css" />
    <script src="/assets/js/htmx.min.js"></script>
</head>

<body>
    <main class="pico-background-sand-200">{% block content %} {% endblock content %}</main>
    {% if footer %}
    <footer>{% block footer %} {% endblock footer %}</footer>
    {% endif %}
</body>

</html>