<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/app.css') }}"
    />
    <script src="{{ url_for('static', path='/js/app.js') }}"></script>
  </head>

  <body>
    <header class="w-full bg-primary">
      <nav class="navbar">
        <a href="{{ url_for('home') }}" class="flex-1 font-bold tracking-widest"
          >IMS</a
        >
        <ul class="menu menu-horizontal px-8">
          <li><a href="{{ url_for('home') }}" class="navbar-item">Home</a></li>
          <li>
            <a href="{{ url_for('items:list') }}" class="navbar-item">Items</a>
          </li>
          <li class="theme-toggle">
            {% include 'partials/theme_toggle.html' %}
          </li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock content %}</main>
    {% if footer %}
    <footer>{% block footer %} {% endblock footer %}</footer>
    {% endif %}
  </body>
</html>
