{% extends 'base.html' %} {% block body %}

<div class="container">
  <h1 class="font-bold text-xl">IMS Login</h1>

  <section class="card">
    <form action="/" method="post" class="card-content">
      <fieldset
        class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 space-y-4"
      >
        <label for="email" class="floating-label">
          <span>Email</span>
          <input type="email" name="email" id="email" class="input" required />
        </label>

        <label for="password" class="floating-label">
          <span>Password</span>
          <input
            type="password"
            name="password"
            id="password"
            class="input"
            required
          />
        </label>
        <button type="submit" class="btn btn-primary">Login</button>
      </fieldset>
    </form>
  </section>
</div>

{% endblock body %}
